<div class="mx-auto flex flex-col flex-1 justify-center h-full max-w-[70%] space-y-3">
    <h1 class="text-3xl font-bold">Productive Mind</h1>
    <p class="text-slate-600">With only the freatures you need , Wap Todo is customized for individuals seeking
        a stress-free way stay
        focused on their goals, projects, and tasks.</p>

    <!-- Sign up Link  -->
    <button class=" bg-yellow-400 hover:bg-yellow-500 w-full py-2 rounded-md font-semibold text-slate-6  00 ">Get
        <a href="/auth/sign-up">
            Started
        </a>
    </button>
    <br>

    <!-- Sign In Link  -->
    <p class="mt-6 text-center text-gray-800 font-semibold">
        Already have an account?
        <a href="/auth/sign-in" class="hover:underline">
            Sign in
        </a>
    </p>
</div>